.login-module {
    height: 100vh; /* Pełna wysokość widocznego okna */
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */



  .login-box {
    border-radius: 8px;
    padding: 20px; 
    width: 100%; 
    max-width: 500px;
    border: solid black 2px;
    margin:15px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    background-color: rgba(255, 255, 255, 0.6);
  }

  label {
    margin-bottom: 0; /* Usuń margines pod label */
  }

  input {
    margin: 0; /* Usuń domyślne marginesy */
  }
}